.container{
    margin-top: 36px;
    padding-bottom: 36px;
    background: var(--light);
    width: 100%;
    min-width: 296px;
    flex-grow: 1;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    color: var(--dark);
}

.ProduictsContainer{
    border: 2px solid var(--grey);
    border-radius: 15px;
    padding: 0;
    padding-bottom: 30px;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    overflow-x: auto;
}

.ProduictsContainer .buttonContenaire{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 5px;
    background-color: var(--grey);    
}

.ProduictsContainer .buttonContenaire button{
    appearance: none;
    padding: 10px 15px;
    background-color: var(--grey);
    color: var(--dark);
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.ProduictsContainer .buttonContenaire button:hover{
    transform: scale(1.05);
}

.buttonContenaire button.active{
    color: var(--primary);
}
