.container{
    margin-top: 36px;
    padding-bottom: 36px;
    background: var(--light);
    width: 100%;
    min-width: 296px;
    flex-grow: 1;
    border-radius: 20px;
    overflow: hidden;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    color: var(--dark);
}

