.status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}


.status.completed {
    background: var(--success);
}

.status.processing {
    background: var(--primary);
}

.status.pending {
    background: var(--warning);
}