.container{
    margin-top: 36px;
    padding: 0 20px;
    padding-bottom: 36px;
    background: var(--light);
    color: var(--dark);
    width: 100%;
    min-width: 296px;
    flex-grow: 1;
    border-radius: 20px;
    overflow: hidden;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    color: var(--dark);
}

.tableContainer {
    width: 100%;
    overflow-x: auto;
    /* Permet le défilement horizontal */
    margin-bottom: 20px;
}

.cartTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cartTable th,
.cartTable td {
    padding: 10px 5px;
    text-align: center;
    border-bottom: 1px solid var(--input-placeholder-color);
}

.cartTable th:first-child{
    text-align: start;
}

.cartTable td div {
    display: flex;
    align-items: center;
}

.cartTable th:first-child{
    font-size: large;
    align-items: start;
    flex-direction: column;
}

.cartImage {
    width: 50px;
    margin-right: 10px;
    border-radius: 15%;
}

.quantityInput {
    width: 60px;
    text-align: center;
    margin: auto;
    padding: 10px 0;
    padding-left: 15px;
    background-color: var(--input-bg-color);
    color: var(--dark);
    border-radius: 5px;
}

.removeButton {
    color: var(--danger);
    font-size: large;
    cursor: pointer;
    background-color: transparent;
}
.clearCartButton,
.checkoutButton,
.returnButton {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.checkoutButton {
    background-color: var(--success);
}

.returnButton{
    background-color: var(--primary);
}

.returnButton:hover{
    background-color: #1d4ed8;
}

.removeButton:hover{
    transform: scale(1.1);
}
.checkoutButton:hover {
    background-color: #1b581e;
}
.clearCartButton:hover{
    background-color: #e5533d;
}


.cartSummary {
    text-align: right;
    margin-top: 20px;
}

.cartSummary p {
    margin-bottom: 10px;
}
.cartSummary .textContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: start;
    margin-left: auto;
}

.cartSummary .buttonContainer{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: end;
    margin-left: auto;
    gap: 10px 5px;
}