.buttonPanier{
    position: fixed;
    top: 50%;
    right: 24px;
    background-color: var(--grey);
    padding: 15px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon{
    font-size: 2.2rem;
    color: var(--error-color);
}

.buttonPanier:hover .icon,
.buttonPanier:hover .numContainer p{
    transform: scale(1.1);
}
.numContainer{
    position: relative;
}

.numContainer p{
    position: absolute;
    top: -22px;
    right: 0px;
    color: var(--error-color);
    font-size: small;
}

@media screen and (max-width: 422px){
    .buttonPanier{
        border-radius: 100%;
        background-color: var(--light-primary);
    }
}